<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="hanhbt_event_listing_data_source" xsi:type="string">HanhBT\Event\Model\Resource\Post\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="HanhBT\Event\Model\Resource\Post\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">hanhbt_events</argument>
            <argument name="resourceModel" xsi:type="string">HanhBT\Event\Model\Resource\Event</argument>
        </arguments>
    </virtualType>
</config>
